src/main/resources/soeknader_for/foreldrepenger/foreldrepenger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:no:nav:vedtak:felles:xml:soeknad:foreldrepenger:v1" xmlns:felles="urn:no:nav:vedtak:felles:xml:soeknad:felles:v1" xmlns:fp="urn:no:nav:vedtak:felles:xml:soeknad:foreldrepenger:v1">
  <xsd:import namespace="urn:no:nav:vedtak:felles:xml:soeknad:felles:v1" schemaLocation="../felles/felles.xsd"/>
  <xsd:complexType name="Virksomhetstyper">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnenOpptjening">
    <xsd:sequence>
      <xsd:element name="type" type="fp:AnnenOpptjeningTyper"/>
      <xsd:element minOccurs="0" name="periode" type="felles:Periode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedlegg" type="xsd:IDREF"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Arbeidsforhold">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsforholdId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Oppgis ikke av bruker selv. Hvis arbeidsforholdet er kjent for Nav; ID fra register.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="felles:Periode"/>
      <xsd:element minOccurs="0" name="arbeidsgiversnavn" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="stilling" type="fp:Stilling"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedlegg" type="xsd:IDREF"/>
      <xsd:element minOccurs="0" name="beskrivelseAvNaerRelasjon" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsforholdtyper">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="EgenNaering">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsland" type="felles:Land"/>
      <xsd:element minOccurs="0" name="varigEndring" type="fp:VarigEndring"/>
      <xsd:element minOccurs="0" name="regnskapsfoerer" type="fp:Regnskapsfoerer"/>
      <xsd:element name="virksomhetstype" type="fp:Virksomhetstyper"/>
      <xsd:element minOccurs="0" name="periode" type="felles:Periode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedlegg" type="xsd:IDREF"/>
      <xsd:element minOccurs="0" name="beskrivelseAvNaerRelasjon" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NorskArbeidsforhold">
    <xsd:complexContent>
      <xsd:extension base="fp:Arbeidsforhold">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="virksomhetsnummer" type="xsd:string"/>
          <xsd:element minOccurs="0" name="arbeidsforholdtype" type="fp:Arbeidsforholdtyper"/>
          <xsd:element minOccurs="0" name="beskrivelseAvAarsakTilManglendeInntektsmelding" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NorskOrganisasjon">
    <xsd:complexContent>
      <xsd:extension base="fp:EgenNaering">
        <xsd:sequence>
          <xsd:element name="organisasjonsnummer" type="xsd:string"/>
          <xsd:element name="navn" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Opptjening">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsforhold" type="fp:Arbeidsforhold"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="egenNaering" type="fp:EgenNaering"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="annenOpptjening" type="fp:AnnenOpptjening"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Regnskapsfoerer">
    <xsd:sequence>
      <xsd:element name="navn" type="xsd:string"/>
      <xsd:element name="telefon" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Stilling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fastStillingsprosent" type="xsd:double"/>
      <xsd:element minOccurs="0" name="variabelStillingsprosent" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="fastOgVariabelStillingsprosent" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskArbeidsforhold">
    <xsd:complexContent>
      <xsd:extension base="fp:Arbeidsforhold">
        <xsd:sequence>
          <xsd:element name="arbeidsland" type="felles:Land"/>
          <xsd:element name="harHattInntektIPerioden" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskOrganisasjon">
    <xsd:complexContent>
      <xsd:extension base="fp:EgenNaering">
        <xsd:sequence>
          <xsd:element name="navn" type="xsd:string"/>
          <xsd:element name="registrertILand" type="felles:Land"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VarigEndring">
    <xsd:sequence>
      <xsd:element name="endringsDato" type="xsd:date"/>
      <xsd:element name="beskrivelseAvEndring" type="xsd:string"/>
      <xsd:element name="naeringsinntektBruttoEtterEndring" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ligger til grunn for skjønnsfastsettelse av beregningsgrunnlaget.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fordeling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="annenForelderErInformert" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="perioder" type="felles:LukketPeriode"/>
      <xsd:element minOccurs="0" name="oensketStartdato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="oenskerHeleKvotenUmiddelbart" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="oenskerHeleFPUmiddelbartEtterKvoten" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="oenskerKvoteOverfoert" type="fp:Overfoeringsaarsaker"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Uttaksperiode">
    <xsd:complexContent>
      <xsd:extension base="felles:LukketPeriode">
        <xsd:sequence>
          <xsd:element name="type" type="fp:Uttaksperiodetyper"/>
          <xsd:element minOccurs="0" name="gradering" type="fp:Gradering"/>
          <xsd:element minOccurs="0" name="oenskerSamtidigUttak" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="morsAktivitetIPerioden" type="fp:MorsAktivitetsTyper"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MorsAktivitetsTyper">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Oppholdsperiode">
    <xsd:complexContent>
      <xsd:extension base="felles:LukketPeriode">
        <xsd:sequence>
          <xsd:element name="aarsak" type="fp:Oppholdsaarsaker"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Oppholdsaarsaker">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Overfoeringsperiode">
    <xsd:complexContent>
      <xsd:extension base="felles:LukketPeriode">
        <xsd:sequence>
          <xsd:element name="aarsak" type="fp:Overfoeringsaarsaker"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Overfoeringsaarsaker">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utsettelsesperiode">
    <xsd:complexContent>
      <xsd:extension base="felles:LukketPeriode">
        <xsd:sequence>
          <xsd:element name="aarsak" type="fp:Utsettelsesaarsaker"/>
          <xsd:element name="utsettelseAv" type="fp:Uttaksperiodetyper"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utsettelsesaarsaker">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Foreldrepenger">
    <xsd:complexContent>
      <xsd:extension base="felles:Ytelse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="annenForelder" type="felles:AnnenForelder"/>
          <xsd:element minOccurs="0" name="rettigheter" type="felles:Rettigheter"/>
          <xsd:element minOccurs="0" name="relasjonTilBarnet" type="felles:SoekersRelasjonTilBarnet"/>
          <xsd:element minOccurs="0" name="medlemskap" type="felles:Medlemskap"/>
          <xsd:element minOccurs="0" name="opptjening" type="fp:Opptjening"/>
          <xsd:element minOccurs="0" name="fordeling" type="fp:Fordeling"/>
          <xsd:element minOccurs="0" name="saksnummer" type="xsd:string"/>
          <xsd:element minOccurs="0" name="dekningsgrad" type="fp:Dekningsgrad"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnenOpptjeningTyper">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Gradering">
    <xsd:sequence>
      <xsd:element name="gradering" type="xsd:double"/>
      <xsd:element minOccurs="0" name="arbeidsforholdId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ID fra register for arbeidsforholdet. Brukes hvis søker har flere arbeidsforhold hos samme arbeidsgiver.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiversNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvis bruker har manuelt oppgitt UtenlandskArbeidsforhold i søknaden.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="virksomhetsnummer" type="xsd:anyType">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvis bruker har manuelt oppgitt NorskArbeidsforhold i søknaden.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Uttaksperiodetyper">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Dekningsgrader">
    <xsd:complexContent>
      <xsd:extension base="felles:Kodeverk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Dekningsgrad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="perioder" type="felles:LukketPeriode"/>
      <xsd:element name="dekingsgrad" type="fp:Dekningsgrader"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Verge">
    <xsd:complexContent>
      <xsd:extension base="felles:Fullmektig">
        <xsd:sequence>
          <xsd:element name="vergetype" type="felles:Vergetype"/>
          <xsd:element name="tvungenForvaltning" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>